body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #e59d6d;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #eaecef;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.quiz .question {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #8fadd5;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    
}

ul li:hover {
    background-color: rgb(0, 98, 255);
    
}

.correct {
    background-color: lightgreen;
}

.wrong {
    background-color: lightcoral;
}

.answer {
    display: none;
    font-weight: bold;
    margin-top: 10px;
}
